body {
    background: blue;
}

.container {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.suc-message {
    background: #fff;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    text-align: center;
    border-radius: 20px;
}

.logout {
    width: 200px;
    height: 40px;
    border: 2px solid #000;
    color: green;
    border-radius: 20px;
    font-size: 30px;

}